/* top navigation area */
.navbar {
  background-color: #373e45;
}

.navbar > .top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar > .top-header > .top-header-left {
  display: flex;
  align-items: center;
}

.navbar > .top-header > .top-header-left > img {
  margin: 0px 40px;
  height: 45px;
}

.navbar > .top-header > .top-header-left > .nav-searchbar {
  width: 450px;
}

.navbar > .top-header > .top-header-right {
  margin: 10px;
}

.navbar > .bottom-header {
  display: flex;
  justify-content: space-between;
}

.navbar > .bottom-header > .bottom-header-left > ul {
  display: flex;
  margin-top: 5px;
  list-style-type: none;
}

.navbar > .bottom-header > .bottom-header-left > ul > li {
  font-weight: 300;
  padding-bottom: 5px;
  margin-right: 30px;
}

.navbar > .bottom-header > .bottom-header-left > ul > li > a {
  color: #fff;
}

/* hero section */
.hero-container {
  display: flex;
  width: 100%;
}

.image-gallery {
  flex-basis: 66.6%;
  max-width: 66.6%;
}

.image-gallery-slides {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
}

.image-gallery-thumbnails-container {
  background-color: #dadada;
}

.event-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 33.3%;
  background-color: #f0f9ff;
}

.event-summary {
  padding: 20px;
  background-color: #f0f9ff;
  overflow-y: auto;
}

.event-summary > .event-tag {
  padding: 5px;
  margin: 0 5px 0 0;
  background-color: #0ecef6;
  color: #ffffff;
  font-size: 0.8em;
}

.event-summary > .event-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.event-summary > .event-organizer {
  color: #a09694;
  font-size: 0.9em;
}

.event-summary > .summary-items {
  padding-top: 15px;
}

.event-summary > .summary-items > .summary-item {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: gray;
}

.event-summary > .summary-items > .summary-item > .spacer {
  width: 10px;
}

.event-summary > .summary-items > .summary-item > .summary-price {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
}

.event-information > .buy-tickets {
  height: 55px;
  text-align: center;
}

/* event details */
.accordions-container {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
}

.accordions-container > .left-accordions {
  flex-basis: 66.6%;
}

.accordions-container > .left-accordions > .accordions {
  margin: 20px;
}

.accordions-container > .right-accordions {
  flex-basis: 33.3%;
}

.accordions-container > .right-accordions > .accordions {
  margin: 20px;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-top: 1px solid lightgray;
}

/* breakpoints */
@media only screen and (max-width: 980px) {
  /* body */
  body {
    font-size: 0.9em;
  }

  /* top navigation area */
  .navbar > .top-header > .top-header-left > .nav-searchbar {
    width: 300px;
  }

  .navbar > .bottom-header {
    display: none;
  }

  /* hero section */
  .hero-container {
    flex-direction: column;
  }

  .event-information > .buy-tickets {
    text-align: center;
  }

  .image-gallery {
    max-width: 100%;
  }

  .image-gallery-slides {
    min-height: 100px;
  }

  /* event details */
  .accordions-container {
    /* padding: 18px 20px; */
    justify-content: space-between;
    flex-direction: column;
  }

  .accordions-container > .left-accordions {
    flex-basis: 100%;
    order: 2;
  }

  .accordions-container > .right-accordions {
    flex-basis: 100%;
    order: 1;
  }

  .accordions-container > .left-accordions > .accordions {
    margin: 10px 20px;
  }

  .accordions-container > .right-accordions > .accordions {
    margin: 10px 20px;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 760px) {
  /* top navigation area */
  .navbar > .top-header > .top-header-left > img {
    margin: 0px 40px;
    height: 35px;
  }

  .navbar > .top-header > .top-header-left > .nav-searchbar {
    display: none;
  }

  .navbar > .top-header > .top-header-right > .MuiButtonGroup-root > button {
    font-size: 0.7em;
  }

  /* event details */
  .accordions-container > .left-accordions > .accordions {
    margin: 0px;
  }

  .accordions-container > .right-accordions > .accordions {
    margin: 0px;
  }
}
